@use '../../Styles/colors' as *;
@use '../../Styles/fonts' as *;
@use '../../Styles/reuseable' as *;


body{
  background: $dark;
  color: $light;
  overflow: hidden;
}


//component Code

.card{
  background-size: cover;
  background-color: $dark;
  padding: 1.4rem;
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
  transition: .3s ease-in-out;

  &:hover{
    transform: scale(1.1);
  }
}

.mainWrapper{
 // padding: 0 10rem;
  height: 100vh;
  @include flex (row wrap, 5rem, center);
  align-items: center;

  .artistImageWrapper{
    background: #3d424b;
    padding: 2rem;
    border-radius: 2rem;
    @include flex(column, .5rem, center);

    .rowOne{
      @include flex(row, .5rem, center);
    }
  }

  .getStartedWrapper{
    width: min-content;
    h2{
      @include flex(row, .5rem, "");
      align-items: center;
      @include Poppins(700, normal);
      text-transform: capitalize;
      width: max-content;
      font-size: 2rem;
    }

    p{
      @include Poppins(400, normal);
      width: 85%;
      font-size: 1.1rem;
      color: #dadee6
    }

    button{
      @include defbutton(#3d424b,  #fff, 1rem 5rem, 1rem);
      @include Poppins(400, normal);
      margin-top: 3rem;
      transition: .3s ease-in-out;
      font-size: 1.1rem;

      &:hover{
        @include  customButton(transparent,#fff, 1rem 5rem, 1px solid #494d55);
      }
    }
  }
}


@media screen and (max-width: 768px){

  body{
    overflow: auto;
  }

  .card{
    background-size: cover;
    background-color: $dark;
    padding: 1.6rem;
    border-radius: 1rem;
    height: 1rem;
    width: 1rem;
    transition: .3s ease-in-out;
  
    &:hover{
      transform: scale(1.1);
    }
  }

  .mainWrapper{
    padding: 1rem;
    height: max-content;
    align-items: start;
    .getStartedWrapper{
      @include flex(column, .5rem, center);
      align-items: center;
      width: 100%;
      text-align: center;

      h2{
        display: block;
        width: 100%;
        font-size: 1.6rem;
        margin: 0;
        padding: 0;

        svg{
          margin-right: .3rem;
        }
      }

      p{
        width: 90%;
        font-size: .9rem;
        text-align: center;
      }
    }
  }
}